<div calss="wrapper">
  <h1>Welcome to <%= @user.name %>'s page</h1>

  <% if @user == current_user %>
    <p><%= link_to '編集', edit_user_path(@user) %></p>
  <% end %>

  <p><%= link_to '新規投稿を作成', new_picture_path %></p>
</div>
