<div class="wrapper">
  <h1>詳細ページ</h1>

  <p>
    <strong>Image:</strong>
    <%= image_tag @picture.image.url %>
  </p>

  <P>
    <strong>コメント:</strong>
    <%= @picture.content %>
  </P>

  <%= link_to '投稿一覧に戻る', pictures_path %>
  <% if @picture.user == current_user %>
    <%= link_to '編集', edit_picture_path(@picture) %>
  <% end %>
