/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

table {
  margin-left: auto;
  margin-right: auto;
}

table th {
  font-size: 25px;
  padding: 40px;
}

h1 {
  text-align: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.icon-image{
  display: inline-block;
}
.wrapper {
  text-align: center;
}

.wrapper {
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.show {
  font-size: 25px;
}

.flash-notifications {
  font-weight: bold;
  text-align: center;
}

.notice {
  background-color: #ADD8E6;
}

.float {
    background-color:#87CEEB;
    float:  left;
    margin: 10px;
    padding:  15px;
    border-radius: 20%;
    color: #0000FF;
    font-size: 20px;
}
